@import '../../../style/theme.scss';
@import '../../../style/extends.scss';
@import '../../../style/mixins.scss';

.ingrs {
    @include direction(row);
    border: $border;
    border-radius: $border-radius;
    padding: $small-space;
}

.ingr {
    flex: 50%;
    &__ac {
        margin-bottom: $small-space;
        @include text($medium, $bold);
    }
    &__lst {
        height: 300px;
        overflow-y: scroll;
    }
    &__el_btn {
        float: right;
        color: $error-color;
        @extend %clickable;
    }
}
