@import '../../style/theme.scss';
@import '../../style/extends.scss';
@import '../../style/mixins.scss';

.h {
    @include direction(row);
    padding: $large-space $main-padding;
    @extend %primary-color;
    @extend %header-font;
    &__logo {
        align-content: flex-start;
    }
    &__t {
        margin-left: $large-space;
    }
    &__ac {
        align-content: flex-end;
        margin: auto;
    }
}
